/* Estilos universales */

h1 {
font-family: 'Lobster Two', cursive;
}

h2 {
font-family: 'Lobster Two', cursive;
}

h3 {
font-family: 'Lobster Two', cursive;
}

a {
font-family: 'Raleway', sans-serif;
}

p {
font-family: 'Raleway', sans-serif;
}

/* INDEX */
.indeximages


/* SANDWICHERIA */
.sandwicheriaimages


/* ROTISERIA */
.rotiseriaimages


/* LUNCHSERVICE */
.lunchform 


/* CONFITERIA */



/* CONTACTO */



/*****************************Hay que darle estilos al navbar****************************/