/** NAVBAR **/
nav {
  background-color: #F9C784;
}
nav .navbar-brand {
  font-family: "Lobster Two", cursive;
  font-size: 1.4rem;
}
nav .navbar-brand .nav__logo {
  width: 80px;
}
nav .navbar__itemsdiv {
  justify-content: flex-end;
}
nav .navbar__itemsdiv .nav-link {
  color: black;
  padding: 3px;
  transition: all 1s;
  zoom: normal;
  border-bottom: none;
  font-size: 1.4rem;
}
nav .navbar__itemsdiv .nav-link:hover {
  border-radius: 10px;
  background-color: #EDDEA4;
  font-size: 1.7rem;
}
nav .navbar__itemsdiv .disabled {
  color: #706c6c;
}

/** ESTILOS UNIVERSALES **/
body {
  background-color: #E7E7E7;
  font-family: "Rokkitt", serif;
  font-size: 1.2rem;
}
body h1, body h3 {
  font-family: "Lobster Two", cursive;
  margin: 10px 10px;
}
body h2 {
  font-size: 2rem;
  font-family: "Lobster Two", cursive;
}
body .main-paragraph {
  margin: 15px 35px;
}
body .h2bottom {
  margin-top: 15px;
}
body .h2sand_bottom {
  margin-bottom: 15px;
}

/** IMAGENES **/
/* INDEX */
.indeximages {
  gap: 10px;
  margin-bottom: 10px;
}

/* ROTISERIA */
.rotiseriaimages {
  height: 300px;
}

/** FORMULARIOS **/
/* CONTACTO */
.form__divs {
  margin-top: 0.5em;
}

input {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #706c6c;
}

textarea {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #706c6c;
  width: 400px;
  transition: all 1s;
  background-color: #ccd5ae;
}
textarea:focus {
  background-color: #e9edc9;
}

.form {
  background-color: #ccd5ae;
  margin: auto;
  width: 60%;
  max-width: 600px;
  padding: 1.5em 3em;
  border-radius: 15px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.form .form__maindiv {
  margin-top: 1em;
  display: grid;
  gap: 0.5em;
}
.form .form__maindiv .form__divs {
  position: relative;
  --color: #5757577e;
  padding: 10px 0px;
}
.form .form__maindiv .form__divs .form__input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.form .form__maindiv .form__divs .form__input:not(:placeholder-shown) {
  color: #4d4646;
}
.form .form__maindiv .form__divs .form__input:focus + .form__label,
.form .form__maindiv .form__divs .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #aa650b;
}
.form .form__maindiv .form__divs .form__label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form .form__maindiv .form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.form .form__maindiv .form__input:focus ~ .form__label,
.form .form__maindiv .form__input:not(:placeholder-shown) ~ .form__label {
  transform: scale(1);
}
.form .form__maindiv .form__buttons {
  background-color: #aa650b;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 1px solid #4d4646;
  border-radius: 0.5em;
  transition: all 1s;
}
.form .form__maindiv .form__buttons:hover {
  background-color: #EDDEA4;
  color: #4d4646;
}

.divmap {
  margin-right: 20px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

/* LUNCHSERVICE */
.section__below {
  display: flex block;
  align-items: center;
}

.contact-sectionform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/** FOOTER **/
footer {
  margin-top: 10px;
  background-color: #1d3557;
  display: flex;
  flex-direction: column;
}
footer p {
  color: white;
}
footer .footer__maindiv {
  margin: 15px 0px;
}
footer .footer__maindiv .footer__branddiv .footer__logo {
  width: 95px;
}
footer .footer__maindiv .footer__branddiv .copyright-text {
  font-size: 0.9rem;
}
footer .footer__maindiv .footer__socialmedia {
  margin: 15px 0px;
}
footer .footer__maindiv .footer__socialmedia .socialmedia-logo {
  width: 60px;
  filter: grayscale(65%);
  transition: all 1s;
}
footer .footer__maindiv .footer__socialmedia .socialmedia-logo:hover {
  filter: grayscale(0%);
}
footer .footer__maindiv .footer__socialmedia .footer__socialmedia-text {
  font-size: 1.2rem;
}
footer .footertext {
  margin: 0%;
  padding-bottom: 10px;
}

/*ANIMACIONES*/
.index__animation {
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  border-right: 2px solid #33658A;
  font-size: 2.3rem;
  color: black;
  margin: 10px 10px;
  width: 17ch;
  animation: typing 4s steps(24), blink 0.8s infinite step-end alternate;
  animation-timing-function: ease-in;
  overflow: hidden;
}

.lunch__animation {
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  border-right: 2px solid #33658A;
  font-size: 2.3rem;
  color: black;
  margin: 10px 10px;
  width: 12ch;
  animation: typing 3s steps(17), blink 0.8s infinite step-end alternate;
  animation-timing-function: ease-in;
  overflow: hidden;
}

.rot__animation {
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  border-right: 2px solid #33658A;
  font-size: 2.3rem;
  color: black;
  margin: 10px 10px;
  width: 7ch;
  animation: typing 3s steps(10), blink 0.8s infinite step-end alternate;
  animation-timing-function: ease-in;
  overflow: hidden;
}

.sand__animation {
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  border-right: 2px solid #33658A;
  font-size: 2.3rem;
  color: black;
  margin: 10px 10px;
  width: 10ch;
  animation: typing 3s steps(12), blink 0.8s infinite step-end alternate;
  animation-timing-function: ease-in;
  overflow: hidden;
}

.contact__animation {
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  border-right: 2px solid #33658A;
  font-size: 2.3rem;
  color: black;
  margin: 10px 10px;
  width: 7ch;
  animation: typing 2s steps(10), blink 0.8s infinite step-end alternate;
  animation-timing-function: ease-in;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/** MEDIA QUERIES **/
/*SANDWICHERIA*/
@media (max-width: 1600px) {
  .carousel {
    width: 80%;
  }
  .carousel .carousel__img {
    height: 50vw;
  }
}
@media (max-width: 768px) {
  .carousel {
    width: 90%;
  }
  .carousel .carousel__img {
    height: 55vw;
  }
}
@media (max-width: 576px) {
  .carousel {
    width: 95%;
  }
  .carousel .carousel__img {
    height: 65vw;
  }
}
/*FOOTER*/
@media (max-width: 1000px) and (min-width: 750px) {
  .footer__branddiv {
    border-right: 2px solid white;
  }
}
/*ANIMACION*/
@media (max-width: 750px) {
  .index__animation {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .index__animation {
    font-size: 1.8rem;
  }
}
/*FORMULARIOS*/
@media (max-width: 1250px) and (min-width: 940px) {
  .form {
    width: 45%;
  }
  .form textarea {
    width: 300px;
  }
}
@media (max-width: 940px) and (min-width: 350px) {
  .form {
    width: 80vw;
  }
  .form__buttons {
    width: 70%;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) and (min-width: 350px) {
  .form__buttons {
    width: 85%;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) and (min-width: 450px) {
  textarea {
    width: 250px;
  }
}
@media (max-width: 450px) and (min-width: 400px) {
  textarea {
    width: 200px;
  }
}
@media (max-width: 400px) and (min-width: 350px) {
  .form__buttons {
    margin-bottom: 10px;
  }
  textarea {
    width: 150px;
  }
}
/*NAVBAR*/
@media (max-width: 700px) and (min-width: 350px) {
  .navbar-brand {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
