/** FOOTER **/
footer {
	margin-top: 10px;
	background-color: $background-color_4;
	display: flex;
	flex-direction: column;

	p {color: $font-color_1;}

	.footer__maindiv{
		margin: $footer_margin;

		.footer__branddiv{
			.footer__logo {width: $logo-size + 15px;}
			.copyright-text {font-size: 0.9rem;}
		}
		.footer__socialmedia{
			margin: $footer_margin;
			.socialmedia-logo {
				width: $socialmedia_logo-size;
				filter: grayscale(65%);
				transition: all 1s;
				&:hover {
					filter: grayscale(0%);
				}
			}	
			.footer__socialmedia-text {font-size: 1.2rem;}
		}
	}

	.footertext {
		margin: 0%;
		padding-bottom: 10px;
	}
}