/** FORMULARIOS **/
form {border: 2px;
	border-radius: 10px;
	border-style: solid;
	border-color: $border-color_2;
}

/* CONTACTO */
.form__divs {margin-top: $form_gap;}
input {@include forms}
textarea {@include forms}
.form__buttons {
	border-color: $border-color_2;
	transition: all 1s;
	margin-top: 10px;
	&:hover {
		background-color: $background-color_3;
	}
}

/* LUNCHSERVICE */

.section__below {
	display: flex block;
	align-items: center;
}