/** MEDIA QUERIES **/
/*SANDWICHERIA*/
@media (max-width: 1600px) {
	.carousel {
		width: 80%;
		.carousel__img {
			height: 50vw;
		}
	}
}
@media (max-width: 768px) {
	.carousel {
		width: 90%;
		.carousel__img {
			height: 55vw;
		}
	}
}
@media (max-width: 576px) {
	.carousel {
		width: 95%;
		.carousel__img {
			height: 65vw;
		}
	}
}


/*FOOTER*/
@media (max-width: 1000px) and (min-width: 750px) {
	.footer__branddiv{border-right: 2px solid $border-color_4;}
}
