/** MEDIA QUERIES **/
@media (max-width: 1400px) {
	.carousel {
		width: 80%;
	}
	.carousel__img {
		height: 50vw;
	}
}
@media (max-width: 768px) {
	.carousel {
		width: 90%;
	}
	.carousel__img {
		height: 55vw;
	}
}
@media (max-width: 576px) {
	.carousel {
		width: 95%;
	}
	.carousel__img {
		height: 65vw;
	}
}



/*hay que ver que esta mal con este codigo*/

@media (max-width: 1400px) {
		.footer__branddiv{
		display: block;
		width:50vw;
	}
	.footer__socialmedia{
		display: block;
		width: 50vw;
	}
}
@media (max-width: 768px) {
	.footer__branddiv{
		display: block;
		width: 50vw;
	}
	.footer__socialmedia{
		display: block;
		width: 50vw;
	}
}
@media (max-width: 576px) {
	.footer__maindiv{
		display: block;

		.footer__branddiv{
			display: block;
			width: 100vw;
		}
		.footer__socialmedia{
			display: block;
			width: 100vw;
		}
	}
}