/** NAVBAR **/
nav {
	background-color: $background-color_2;
	
	.navbar-brand {
		font-family: $font-family_2;
		font-size: 1.4rem;

		.nav__logo {
			width: $logo-size;
		}
	}
	
	.navbar__itemsdiv {
		justify-content: flex-end;

		.nav-link {
			color: black;
			padding: 3px;
			transition: all 1s;
			zoom: normal;
			border-bottom: none;
			font-size: 1.5rem;
			&:hover {
				border-radius: 10px;
				background-color: $background-color_3;
				font-size: 2rem;
			}
		}
		.disabled {color: $border-color_1}
	}
}