/** ESTILOS UNIVERSALES **/
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: 1.2rem;

	h1, h3 {@include h_font;}
	h2 {@include h2-style}
	.main-paragraph {margin: $paragraph_margin;}
	.h2bottom {margin-top: 15px;}
	.h2sand_bottom {margin-bottom: 15px;}
}

