$font-family_1: 'Rokkitt', serif;
$font-family_2: 'Lobster Two', cursive;

$background-color_1: #E7E7E7;
$background-color_2: #F9C784;
$background-color_3: #EDDEA4;
$background-color_4: #1d3557;
$background-color_5: #ccd5ae;
$background-color_6: #e9edc9;


$color_1: #485696;

$border-color_1: #706c6c;
$border-color_2: #33658A;
$border-color_3: black;
$border-color_4: white;
$border-color_5: #4d4646;

$font-color_1: white;
$font-color_2: #aa650b;

$logo-size: 80px;
$socialmedia_logo-size: 60px;

$h_margins: 10px 10px;
$paragraph_margin:15px 35px;
$form_gap: .5em;
$footer_margin: 15px 0px;

