$font-family_1: 'Raleway', sans-serif;
$font-family_2: 'Lobster Two', cursive;

$background-color_1: #E7E7E7;
$background-color_2: #F9C784;
$background-color_3: #EDDEA4;


$color_1: #485696;

$border-color_1: #F4D06F;
$border-color_2: #33658A;
$border-color_3: black;

